*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  background-color: #05292e;
}

h1{
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}

h3{
  color: white;
}

h4{
  color: gray;
}


.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  overflow: hidden;
  width: 100vw;
  height: 35vh;
  background-image: url("https://s3-alpha-sig.figma.com/img/f757/e216/34f8ffb34b0055d2a2a34bc10390c23c?Expires=1663545600&Signature=Wx9kym7YRXDcrXkXdRrFarWh9EAw0cBt45s7eBURJ7f6X4MMalsd9B2RFTYc3jmbkkLAvQzPNPA-A84I9xfgyxO192hpEyBrIJ0c2~LXtlq95gDOnSR5HuxQswa98vZtpPsCxTTTHVuD2j~p~dZU-fgL019JhZIB4f7oElCp-tUStLxdgnT2KbjOWZKVZkY7lFfxbAXnvqnC~xJMSICoZ-BKJWqLsJc5jSvsFAudVtLI1BGln4pkgQmpXwUsb00L5tNiPun32WKsSIXWEFUv44mrYuA-e1QFsMEJcXXtNPhChmA3IKaTq4SuVw0cdtm9cFZoehelTrrP2BzxzjL19g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.img--header{
  width: 65%;
  height: 60%;
}

.nav--header{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--header{
  width: 70%;
  height: 40%;
}

.button--header{
  width: 10%;
  height: 40%;
  cursor: pointer;
}

.infoCard{
  background-color: #062226;
  width: 80%;
  height: 12vh;
  margin: auto auto;
  color: white;
  text-align: center;
  font-size: 0.4rem;
  padding: 0.5rem 0.2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.main{
  margin: auto auto;
  margin: 1.5rem;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.card{
  background-color: #062226;
  width: 95%;
}

.img--card{
  width: 100%;
  text-align: center;
}

.listPage{
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.buttonPreviousPage, .buttonNextPage{
  background-color: #062226;
  color: white;
  font-size: 1rem;
  width: 20%;
  cursor: pointer;
}

.inputPage{
  width: 15%;
  height: 100%;
  text-align: center;
}

.textPage{
  color: white;
  font-size: 1.2rem;
}

.footer{
  width: 100vw;
  height: 45vh;
  margin-top: 2rem;
  background-image: url("./assets/images/rickAndMorty.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
